<!-- <form>
  <input 
    type="text" class="form-control"
    (keyup.enter)="addTopic(topic)" #topic>
    <ul class="list-group">
      <li 
        *ngFor="let topic of topics.controls"
        (click)="removeTopic(topic)"
        class="list-group-item">
        {{ topic.value }}
      </li>
    </ul>
</form> -->

<form [formGroup]="form">
    Name
    <input formControlName="name" />
    <div formGroupName="contact">
      Email<input formControlName="email" />
      Phone<input formControlName="phone" (keyup.enter)="addTopic(topic)" #topic />
    </div>
    <ul>
      <li 
      *ngFor="let topic of topics.controls"
      (click)="removeTopic(topic)"
      class="list-group-item" >
        {{ topic.value }}
      </li>
    </ul>
  </form>